@font-face {
    font-family: Renogare;
    src:
        url("/fonts/Renogare-Regular.woff") format("woff"),
        url("/fonts/Renogare-Regular.otf") format("opentype");
}

html, body {
    margin: 0;
    padding: 0;
    background: #111111;
    color: rgba(255, 255, 255, 0.87);
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    line-height: 1.75em;
}

body {
    overflow: hidden;
}

#parallax-root {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.hidden {
    display: none;
}

#background {
    animation: bg-in 1s 0s forwards ease-out;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url("./background.png");
    background-size: cover;
}

#cogwheel {
    animation: cogwheel-spin 20s infinite linear;
    position: absolute;
    top: -500px;
    right: -200px;
    width: 900px;
    height: 900px;
    background: url("./cogwheel.png");
    background-size: 100%;
    pointer-events: none;
    opacity: 0.2;
}

#front {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 256px;
    right: 0;
    text-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
    transform: translateZ(-1px);
    font-size: 2em;
    z-index: -1;
}

#front-logo {
    animation: front-in-1 0.6s -0.2s both;
    position: absolute;
    top: calc(50% - 6vw - 16px);
    left: 50%;
    max-width: 180vw;
    filter: drop-shadow(0 0 32px rgba(0, 0, 0, 0.5));
}

#body {
    position: relative;
    box-shadow: 0 0 48px rgba(0, 0, 0, 0.7);
    background: rgb(31, 31, 32);
    border-radius: 3px;
    display: block;
    min-height: 80vh;
    max-width: 900px;
    padding: 32px;
    margin: calc(60vh + 32px) auto 0 auto;
    z-index: 10;
}

#body-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    clip-path: inset(0 0 0 0);
    z-index: -1;
}

#overlay-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    backface-visibility: hidden;
    overflow: hidden;
    mix-blend-mode: hard-light;
    opacity: 0.13;
    /* filter: blur(16px); */ /* Thanks, Chromium?! */
    z-index: 10000;
}

#overlay {
    background: url(./overlay.png);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    background-size: 77vw;
    background-position: 20vh 10vh;
}

#noisefg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url(./noisefg.png);
    background-repeat: repeat;
    background-size: 256px;
    z-index: 100;
    pointer-events: none;
    opacity: 0.03;
    mix-blend-mode: screen;
    z-index: 10001;
}

.note {
    border-left: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    padding: 8px 16px;
}

a, a:visited {
    transition: color 0.2s, text-decoration-color 0.2s, text-shadow 0.2s, border-bottom 0.2s;
    color: rgba(150, 230, 255, 0.87);
    text-decoration-color: rgba(150, 230, 255, 0.435);
    text-shadow: 0 0 0 rgba(150, 230, 255, 0);
    font-weight: 500;
    position: relative;
    display: inline-block;
    border-color: none;
}
a:hover, a:focus, a:active {
    color: rgba(150, 230, 255, 0.94);
    text-decoration-color: rgba(150, 230, 255, 0.94);
    text-shadow: 0 0 16px rgba(150, 230, 255, 0.2);
}

a.button, a.button:visited {
    transition: background-color 0.2s, box-shadow 0.2s;
    color: rgba(255, 255, 255, 0.9);
    text-decoration-color: transparent;
    box-shadow: 0px 1px 7px rgba(31, 5, 43, 0.3), -0.5px -1px 6px rgba(209, 185, 255, 0.1), -1px -2px 5px rgba(217, 186, 231, 0.02);
    background: rgb(41, 33, 43);
    border-radius: 3px;
    padding: 8px;
    display: inline-block;
    cursor: pointer;
    z-index: 1;
    text-shadow: none;
}
a.button:hover, a.button:focus, a.button:active {
    background: rgb(111, 83, 122);
    text-decoration-color: transparent;
    box-shadow: 0 1px 16px rgba(31, 5, 43, 0.5), -1px -1px 7px rgba(255, 255, 255, 0.09), 1px 2px 7px rgba(230, 176, 255, 0.05) inset;
    z-index: 2;
    text-shadow: none;
}

#toplist {
    position: relative;
    display: block;
    left: 0;
    padding: 0;
    margin: 0;
    float: right;
    list-style-type: none;
    margin-left: 16px;
    z-index: 2;
}

#toplist li > a {
    padding: 0;
    width: 300px;
    height: 64px;
    border-radius: 3px;
    margin-bottom: 8px;
}

.toplink-icon {
    position: relative;
    width: 32px;
    height: 32px;
    margin: 16px;
    float: left;
    background-size: cover;
}

.toplink-text {
    position: absolute;
    left: 32px;
    right: 0;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 64px;
}

#toplink-install .toplink-icon {
    background-image: url("./download.png");
}

#toplink-mods .toplink-icon {
    background-image: url("./ext_gamebanana.png");
}

#toplink-discord .toplink-icon {
    background-image: url("./ext_discord.png");
}

#toplink-wiki .toplink-icon {
    background-image: url("./wiki.png");
}

#toplist, h1, h2, h3, h4, h5, h6 {
    font-family: 'Renogare', 'Poppins', sans-serif;
    font-weight: normal;
}

#footer {
    position: relative;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    z-index: 100;
    margin: 32px auto;
    text-align: center;
}

.berry {
    position: relative;
    top: 0.5em;
}

.haha {
    float: left;
    height: 32px;
    padding: 8px 16px 8px 0;
}

.yolo {
    float: left;
    height: 32px;
    padding: 8px 16px 8px 0;
}

.thinking {
    float: left;
    height: 32px;
    padding: 8px 16px 8px 0;
}

.strike {
    text-decoration: line-through;
}

.screenshot {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 3px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
    max-width: calc(100vw - 64px);
}

#mac-instructions-fold div {
    text-align: center;
}
#mac-instructions-fold img {
    max-width: 100%;
}
#mac-instructions-fold img.halfwidth {
    max-width: 50%;
}


@media only screen and (max-width: 600px) {
    #front {
        bottom: unset;
    }

    #body {
        margin-top: calc(30vh + 32px);
    }

    #toplist {
        float: none;
        width: fit-content;
        margin: 0 auto;
    }

    #mac-instructions-fold img.halfwidth {
        max-width: 100%;
    }
}


@keyframes bg-in {
    0% {
        opacity: 0.96;
        transform: scale(1.16);
    }
    100% {
        opacity: 1;
        transform: scale(1.21);
    }
}

@keyframes front-in-1 {
    0% {
        opacity: 0;
        transform: translate(-50%, calc(-50% + 192px)) rotate(2deg);
    }
    100% {
        opacity: 0.87;
        transform: translate(-50%, -50%) rotate(0);
    }
}

@keyframes front-in-2 {
    0% {
        opacity: 0;
        transform: translate(-50%, calc(-50% + 32px)) rotate(2deg);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0);
    }
}

@keyframes cogwheel-spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (orientation: portrait) {
    #overlay {
        width: 200vh;
        height: 200vh;
        background-size: 100vh;
    }
}

body > div:last-of-type, #dummy {
    display: none !important;
    position: absolute !important;
    width: 0 !important;
    height: 0 !important;
    opacity: 0 !important;
    overflow: hidden !important;
}
