name: CI

on:
  push:
    branches: [ main ]
  workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: git checkout
        uses: actions/checkout@v2

      - name: Generate olympusnews/index.txt
        run: |
          pushd olympusnews
          rm -f index.txt
          for f in *; do
            echo $f >> index.txt
          done
          popd

      - name: git <setup> && git add && git commit
        run: |
          git config user.name '0x0ade's bot'
          git config user.email 'nuda1998+ghbot@gmail.com'
          git branch -d gh-pages || true
          git checkout -b gh-pages
          git add .
          git commit -m 'Automatically update gh-pages'

      - name: git push
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.PUSH_TOKEN }}
          branch: gh-pages
          force: true
